section.apps
  .container.container__top
    .apps__inner(style="background-image: url(../img/other/app.jpg)")
      .apps__content
        h2.title Скачайте мобильное
          span.title__span приложение
        .apps__text 
          p Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте. 
        ul.apps__list
          li.apps__item(style="background-image: url(../img/apps/app-store.svg)")
            a.apps__app(target="_blank" rel="noopener" href="https://www.apple.com/ua/app-store/")
              span.sr-only открыть AppStore для установки приложения
          li.apps__item(style="background-image: url(../img/apps/google-play.svg)")
            a.apps__google(target="_blank" rel="noopener" href="https://play.google.com/store/games?gl=TR")
              span.sr-only открыть GooglePlay для установки приложения 