svg.icon
  use(href="img/sprite.svg#icon-calling")
svg.icon
  use(href="img/sprite.svg#icon-cart")
svg.icon
  use(href="img/sprite.svg#icon-facebook")
svg.icon
  use(href="img/sprite.svg#icon-frame")
svg.icon
  use(href="img/sprite.svg#icon-instagram")
svg.icon
  use(href="img/sprite.svg#icon-location")
svg.icon
  use(href="img/sprite.svg#icon-message")
svg.icon
  use(href="img/sprite.svg#icon-search")
svg.icon
  use(href="img/sprite.svg#icon-twitter")