/* .logo {
  display: inline-block;
  border-radius: 5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: opacity 0.3s, -webkit-box-shadow 0.3s ease-in-out;
  transition: opacity 0.3s, box-shadow 0.3s ease-in-out,
    -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: opacity 0.3s, box-shadow 0.3s ease-in-out;
} */
/* .logo:hover {
  opacity: 0.8;
} */
/* .logo:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7019607843);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7019607843);
} */
/* .logo:active {
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent;
  opacity: 0.5;
} */
/* .logo__img {
  width: 200px;
  height: 39px;
} */