/* скрытые элементы */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-body-hidden {
  overflow: hidden;
}
.visually-hidden {
  visibility: hidden;
  height: 0;
}