header.header
  .container
    .header__inner
      nav.menu
        ul.menu__list
         li.menu__list-item
          a.menu__list-link(href='#') About
         li.menu__list-item
          a.menu__list-link(href='#') Gallery
      a(class="logo" href="#")
        img(src="@img/header_logo.svg" alt="logo")
      nav.menu
        ul.menu__list
          li.menu__list-item
            a.menu__list-link(href='#') Blog
          li.menu__list-item
            a.menu__list-link(href='#') Contact
      button.header__btn
        img(src="@img/header_icon_menu.svg" alt="icon menu")