header.header
  .container
    .header__inner
      nav.menu
        ul.menu__list
         li.menu__list-item
          a.menu__list-link(href='#') About
         li.menu__list-item
          a.menu__list-link(href='#') Gallery
      a(class="logo" href="#")
        img(src="@img/header_logo.svg" alt="logo")
      nav.menu
        ul.menu__list
          li.menu__list-item
            a.menu__list-link(href='#') Blog
          li.menu__list-item
            a.menu__list-link(href='#') Contact
      button.header__btn
        img(src="@img/header_icon_menu.svg" alt="icon menu")
      .rightside-menu
        button.rightside-menu__close
          img(src="@img/close.svg", alt="close")
        .rightside-menu__content
          a.logo(href="#")
            img(src="@img/logo-big.png" alt="logo-desire")
          h4.rightside-menu__title Furniture for life
          p.rightside-menu__text Sustainable hot chicken skateboard, dreamcatcher muggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn
          img.rightside-menu__img(src="@img/close-img.jpg" alt="close images")
