$breakpoints: ("phone-2": 375px,
  "phone-1": 560px,
  "tablet-6": 733px,
  "tablet-5": 768px,
  "tablet-4": 795px,
  "tablet-3": 945px,
  "tablet-2": 992px,
  "tablet-1":1128px,
  "desktop": 1230px);

$text: #31352b;
$accent: #ff6838;