/************/
//БЕЗОПАСНЫЕ ШРИФТЫ
$save-fonts: 'Helvetica', 'Arial';
$helvetica: 'Helvetica';
$arial: 'Arial';
$verdata: 'Verdana';
$times: 'Times New Roman';
$georgia: 'Georgia';

//шрифты безопасности
@mixin font-save($font-name, $type) {
  font-family: '#{$font-name}',
  $save-fonts,
  $type;
}

//Проверка работы миксина
// body {
// @include font-save($font-glob); //или
// @include font-save($opensans); //или
// @include font-save(OpenSans); //или
// }
