section.delivery
  .container.container__top
    .delivery__inner
      .delivery__content
        h2.title.title__left Оставайтесь дома, 
          span.title__span а мы позаботимся о еде
        .delivery__text 
          p У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и получите скиидку!
        ul.delivery__list
          li.delivery__item(style="background-image: url(../img/icons/icon-timer.svg)") Быстрая доставка за 15 минут
          li.delivery__item(style="background-image: url(../img/icons/icon-delivery.svg)") Вежливые курьеры
          li.delivery__item(style="background-image: url(../img/icons/icon-restaurant.svg)") Более 500 заведений
        button.delivery__btn(type='button') Подробнее