section.hero
  .container.container__hero
    h1.sr-only Сервис быстрой доставки еды
    .hero__inner(style='background-image: url(../img/other/guy.png)')
      .hero__content
        h2.hero__title Доставка 
          span.hero__title.hero__title--span за 15 минут
        .hero__text 
          p Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
        a.hero__btn(href="#no__scroll") Заказать
        a.hero__link(href="#no__scroll") Подробнее