section.reviews
  .container.container__top
    h2.title.title__center Отзывы клиентов
    .reviews-slider
      .reviews-slider__item
        .reviews-slider__box
          img.reviews-slider__photo(src="img/reviews/photo.jpg", alt="Фото Даши, автора отзыва")
          figure.reviews-slider__quotes
            blockquote.reviews-slider__comment SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            figcaption.reviews-slider__name Дарья
              cite.reviews-slider__prof Ценитель вкусной еды
      .reviews-slider__item
        .reviews-slider__box
          img.reviews-slider__photo(src="img/reviews/photo.jpg", alt="Фото Даши, автора отзыва")
          figure.reviews-slider__quotes
            blockquote.reviews-slider__comment SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            figcaption.reviews-slider__name Дарья
              cite.reviews-slider__prof Ценитель вкусной еды
      .reviews-slider__item
        .reviews-slider__box
          img.reviews-slider__photo(src="img/reviews/photo.jpg", alt="Фото Даши, автора отзыва")
          figure.reviews-slider__quotes
            blockquote.reviews-slider__comment SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            figcaption.reviews-slider__name Дарья
              cite.reviews-slider__prof Ценитель вкусной еды
      .reviews-slider__item
        .reviews-slider__box
          img.reviews-slider__photo(src="img/reviews/photo.jpg", alt="Фото Даши, автора отзыва")
          figure.reviews-slider__quotes
            blockquote.reviews-slider__comment SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
            figcaption.reviews-slider__name Дарья
              cite.reviews-slider__prof Ценитель вкусной еды
