nav
  .container
    .navbar
      .logo
        a(href="#" class="logo")
      ul.menu
        li.menu__item
          a(href="#" class="menu__item-link") текст
        li.menu__item
          a(href="#" class="menu__item-link") текст
        li.menu__item
          a(href="#" class="menu__item-link") текст
      .burger
        span