ul.popular__catalog
  li.popular__card.mix.burger
    article.popular__product
      a.popular__show(href="")
        img.popular__img(style="width: 140px; height: 140px;" src="img/product/item-1.png" alt="Фото чисбургера с листьями салата")
        h3.popular__name Чизбургер с листьями салата
      p.popular__price 160 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.pizza
    article.popular__product
      a.popular__show(href="")
        img.popular__img(style="width: 140px; height: 140px;" src="img/product/item-2.png" alt="Фото бифбургера")
        h3.popular__name Бифбургер
      p.popular__price 190 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.sandwich
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-3.png" style="width: 140px; height: 140px;" alt="Фото королевского чисбургера")
        h3.popular__name Королевский чизбургер
      p.popular__price 260 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.asia
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-4.png" style="width: 140px; height: 140px;" alt="Фото черного гамбургера")
        h3.popular__name Черный гамбургер
      p.popular__price 199 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.dish
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-5.png" style="width: 140px; height: 140px;" alt="Фото чикен бургера")
        h3.popular__name Чикен бургер
      p.popular__price 180 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.burger
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-1.png" style="width: 140px; height: 140px;" alt="Фото чисбургера с листьями салата")
        h3.popular__name Чизбургер с листьями салата
      p.popular__price 160 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.pizza
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-2.png" style="width: 140px; height: 140px;" alt="Фото бифбургера")
        h3.popular__name Бифбургер
      p.popular__price 190 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.sandwich
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-3.png" style="width: 140px; height: 140px;" alt="Фото королевского чисбургера")
        h3.popular__name Королевский чизбургер
      p.popular__price 260 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.asia
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-4.png" style="width: 140px; height: 140px;" alt="Фото черного гамбургера")
        h3.popular__name Черный гамбургер 
      p.popular__price 199 грн.
      button.popular__add(type="button") В корзину
  li.popular__card.mix.dish
    article.popular__product
      a.popular__show(href="")
        img.popular__img(src="img/product/item-5.png" style="width: 140px; height: 140px;" alt="Фото чикен бургера")
        h3.popular__name Чикен бургер
      p.popular__price 180 грн.
      button.popular__add(type="button") В корзину