$white:#fff;
$light: #FFF2ED;
$dark: #31352B;
$dark-blue: #363853;
$grey: #c2c2c22a;
$grey-light: #C2C2C2;
$bg: #F9FAFF;
$orange: #FF6838;
$coral: #FF7A50;
$pink: #FFAE94;
$bg-sticky: #f9faffbb;
// $silver: #F9FAFF;
$silver-light: #ECECEC;
// $light-orange: #FFAE94;


